/* styles.css або shared-dialog.component.scss */
.my-custom-dialog {
  background-color: #f5f5f5;
  border-radius: 16px;
  padding: 20px;
  max-width: 600px;
}

.my-custom-dialog .mat-dialog-container {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.error {
  color: red;
  font-size: 32px;
}
