.big-add-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 10rem;
  width: 10rem;
  border: 5px solid #1463bf;
  border-radius: 35px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #9ce4ff;
  transition: transform 0.2s;
}

.big-add-btn:hover{
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}
